esp_hosted_fg/esp/esp_driver/CMakeCache.txt
esp_hosted_fg/esp/esp_driver/CMakeFiles
esp_hosted_fg/esp/esp_driver/Makefile
esp_hosted_fg/esp/esp_driver/build
esp_hosted_fg/esp/esp_driver/cmake_install.cmake
esp_hosted_fg/esp/esp_driver/network_adapter/build
esp_hosted_fg/esp/esp_driver/network_adapter/sdkconfig
esp_hosted_fg/esp/esp_driver/network_adapter/sdkconfig.old
esp_hosted_ng/esp/esp_driver/CMakeCache.txt
esp_hosted_ng/esp/esp_driver/CMakeFiles
esp_hosted_ng/esp/esp_driver/Makefile
esp_hosted_ng/esp/esp_driver/build
esp_hosted_ng/esp/esp_driver/cmake_install.cmake
esp_hosted_ng/esp/esp_driver/network_adapter/build
esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig
esp_hosted_ng/esp/esp_driver/network_adapter/sdkconfig.old
..module-common.o.cmd
.Module.symvers.cmd
.esp32_spi.ko.cmd
.esp32_spi.mod.cmd
.esp32_spi.mod.o.cmd
.esp32_spi.o.cmd
.esp_bt.o.cmd
.esp_cfg80211.o.cmd
.esp_cmd.o.cmd
.esp_debugfs.o.cmd
.esp_log.o.cmd
.esp_stats.o.cmd
.esp_utils.o.cmd
.main.o.cmd
.module-common.o
.modules.order.cmd
Module.symvers
esp32_spi.ko
esp32_spi.mod
esp32_spi.mod.c
esp32_spi.mod.o
esp32_spi.o
esp_bt.o
esp_cfg80211.o
esp_cmd.o
esp_debugfs.o
esp_log.o
esp_stats.o
esp_utils.o
main.o
modules.order
spi/.esp_spi.o.cmd
spi/esp_spi.o
esp_hosted_ng/esp/esp_driver/esp-idf/
esp_hosted_ng/esp/esp_driver/network_adapter/deploy.sh
esp_hosted_ng/host/spi/.esp_spi.o.cmd
esp_hosted_ng/host/spi/esp_spi.o
